@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our TodoList App</h1>
    <p>Made by Gurra and Tintin!</p>
    <p>2024-10-30</p>
    <p>This is where header will be for the TodoList-Title</p>
    <p>2024-10-30</p>
    <p>2024-10-30</p>
</div>
